* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: black;
  color: #00ff66;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.icons {
  opacity: 0.7;
  margin-bottom: 10px;
}

h1 {
  font-size: 64px;
  letter-spacing: 4px;
  text-shadow: 0 0 20px #00ff66;
}

.sub {
  opacity: 0.8;
  margin: 15px 0 30px;
}

button {
  background: transparent;
  border: 2px solid #00ff66;
  color: #00ff66;
  padding: 15px 40px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 25px #00ff66;
  transition: 0.3s;
}

button:hover {
  background: #00ff66;
  color: black;
}

.footer {
  margin-top: 25px;
  font-size: 12px;
  opacity: 0.6;
}

/* Panels */

.panel {
  border: 2px solid #00ff66;
  padding: 30px;
  width: 360px;
  text-align: center;
  margin: auto;
  margin-top: 15%;
  box-shadow: 0 0 20px #00ff66;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: black;
  color: #00ff66;
  border: 1px solid #00ff66;
}

.puzzle {
  margin: 15px 0;
  font-size: 18px;
}

.success {
  color: #00ff66;
  font-weight: bold;
}

.fail {
  color: red;
  font-weight: bold;
}
